<a href="https://colab.research.google.com/github/vitorbarbosa123/estudos-classificacao-sklearn/blob/master/introducao_classificacao_sklearn_projeto2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
# Traduzindo as colunas
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)

In [ ]:
x = dados[["principal", "como_funciona", "contato"]]
y = dados["comprou"]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [ ]:
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("Treino: ", len(treino_x))
print("Teste: ", len(teste_x))

Treino:  75
Teste:  24

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)
print("A acurácia foi: " , acuracia * 100)

A acurácia foi:  95.83333333333334

#Usando funções próprias

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
SEED = 20

treino_x, teste_x, treino_y, teste_y  = train_test_split(x,y, random_state = SEED, test_size = 0.25, stratify = y)
print("Treino", len(treino_x))
print("Teste", len(teste_x))

model = LinearSVC()
model.fit(treino_x, treino_y)
previsoes = model.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)
print("A acurácia foi: " , acuracia * 100)

Treino 74
Teste 25
A acurácia foi:  96.0

In [ ]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [ ]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64